 <div style="height: 100%; width: 100%; padding: 10%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
 <div>
   <h1>Welcome user to Task manager System app!</h>
   </div>
   <div style="width: 100%;">
    <h2 style="font-size: 12px;">Hi there,</h2>
  </div>

  <div style="padding: 0px 15%;">  
   <p>
    You have successfully created your account,
    your email is: <%= @user.email %> 
    <br>
    We're so glad you found us, and we're confident this is a start of a 
    <br>
    long lasting friendship.
    <br><br>
    Thanks for joining and have a great day!
  </p>
</div>

<div style="width: 100%;">
  <p>
    Warm Regards 
    <br>
    Task Manager Team
    <br>
    support_task@gmail.com
  </p>
</div>

<div style="width: 100%; display: flex; justify-content: start;">
  <p style="font-weight: 800;">All rights reserved to @task_manager_system</p>
</div>
</div>