<%# <h1>Welcome user to Task manager System app</h>
 <p>
   You have successfully created your account,
   your email is: <%= @user.email %><%# .<br>
 </p>
<p>Thanks for joining and have a great day!</p>
 %> 

 <div class="email-main">
   <div>
     <h1>Welcome user to Task manager System app!</h>
   </div>

   <h2>Hi there,</h2>

   <div class="email-body">  
     <p>
      You have successfully created your account,
      your email is: <%= @user.email %> 
      <br>
      We're so glad you found us, and we're confident this is a start of a 
      <br>
      long lasting friendship.
      <br><br>
      Thanks for joining and have a great day!
     </p>
   </div>
 </div>