<%= render "shared/navbar" %>

<div class="center-wrapper">
<div class="form-card">

<h3>Update Password</h3>

<%= form_with scope: :user,
              url: users_path,
              method: :patch,
              html: { id: "updatePasswordForm", novalidate: true } do |f| %>

  <label>New Password</label>
  <%= f.password_field :password,
        placeholder: "Dev@12",
        id: "updatePasswordField", autofocus:true %>

  <small class="error-message" id="updatePasswordError"></small>

  <p class="password-note">
    Must include 1 uppercase, 1 lowercase, 1 special character,
    1 number, 6-8 characters and no spaces.
  </p>

  <%= f.submit "Update", class: "btn btn-success" %>

<% end %>

</div>
</div>
