<%= render "shared/navbar" %>

<div class="center-wrapper">
<div class="form-card">

<h3>Update Password</h3>

<%= form_with scope: :user, url: users_path, method: :patch do |f| %>

<label>New Password</label>
<%= f.password_field :password %>

<%= f.submit "Update", class: "btn btn-success" %>

<% end %>

</div>
</div>
