<div class="navbar" data-controller="navbar">

  <h3>Welcome <%= @current_user.email %></h3>

  <div data-action="click->navbar#toggle"
       class="hamburger">☰</div>

  <div data-navbar-target="dropdown"
       class="dropdown">

    <%= link_to "Update Password", edit_users_path, class: "dropdown-item" %>

    <%= link_to "Delete Account",
    users_path,
    data: { turbo_method: :delete, controller: "confirm",
      action: "click->confirm#confirm" },
    class: "dropdown-item danger" %>

    <%= link_to "Logout",
    logout_users_path,
    data: { turbo_method: :delete },
    class: "dropdown-item" %>
  </div>
  
</div>
